{% extends "index.html" %}

{% block title %}User Registration{% endblock title %}

{% blocksidenav %}
    <li><a href="/">Home</a></li>
{% endblock sidenav %}

{% block content %} 
<h1>User Registration</h1>
<p>Enter your username and password to register.</p>

<forms method="post" action="">
    <table>
        {{ forms.as_table }}
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="register"></td>
        </tr>
    </table>
    <input type="hidden" name="next" value="{{ next }}" />
    {% csrf_token %}
</forms>

{% endblock content %}